.idea__wrapper {
    background: white;
    padding: 10px 5px 10px 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-radius: 13px;

    cursor: pointer;

    transition: all .3s ease-in-out;
}

.idea__wrapper:hover {
    transform: scale(1.03);
}

.ideas {
    width: 60%;
}

.ideas__title {
    font-weight: 500;
    font-style: oblique;
}

.ideas__list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}
/* USERINFO  COMPONENT */

.userinfo__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userinfo__image {
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

.userinfo__nick {
    font-size: 12px;
    color: lightgray;
    opacity: 80%;
}

.userinfo__name {
    font-size: 14px;
}


/* IDEA CONTENT COMPONENT */

.idea__content {
    margin-top: 25px;

}

.idea__content__title {
    font-size: 25px;
    font-weight: 600;
    opacity: 70%;
}

.idea__content__text {
    font-size: 20px;
    margin-top: 10px;

    color: lightgray;
    opacity: 80%;
    line-height: 1.5;
    word-break: break-all;
}

/* IDEA LIST COMPONENT */

.ideas__subtitle {
    font-size: 12px;
    color: lightgray;
    opacity: 80%;
}

.ideas__card__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.ideas__card__wrapper {
    padding: 4px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.ideas__card__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    opacity: 60%
}

.ideas__card__item {

}
